body{
  margin:auto;
   width:80%;
  background-color:lightblue;
}

header,section,article,nav,aside,footer,div{
  font-family:sans-serif;
  border:1px dotted #000;
  padding:10px;
  margin:10px;
}

.warning{
  font-weight:bold;
  }

.BlogPostTitle:hover{
  color:white;
}

#title:hover{
  color:white;
}
#title{
float: right;
padding-right: 100px;
color:green;
}

ul{
  display:flex;
  justify-content:space-around;
 list-style-type:none;
  margin:0;
  height:30px;
    line-height: 30px;
}



ul li a{
    color:black;

  /* padding:0 80px; */
  text-decoration:none;
}

ul li a:hover {
color:green;
}

.Page-content{
color:red;


}

 .BlogPost{
   display:flex;
}

footer a{
   padding-top: 200px;
}


/* ---------------------------------------------------------------------------------------------------- */

.floating-box {
  overflow: hidden;
    display:inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}

.flex-1{
   display:flex;
   flex-direction: column;
}

.flex-2{
display:flex;
flex-direction: column;
}
