body{
  margin:auto;
   width:80%;
  background-color:lightblue;
}

header,section,article,nav,aside,footer,div{
  font-family:sans-serif;
  border:1px dotted #000;
  padding:10px;
  margin:10px;
}



.warning{
  font-weight:bold;
  }


.BlogPostTitle:hover{
  color:white;
}

#title:hover{
  color:white;
}
#title{
float: right;
padding-right: 100px;
color:green;
}

ul{
  list-style-type:none;
  margin:0;
  padding-left: 200px;
  height:30px;
}

ul li{
  float:left;
  height:30px;
  line-height: 30px;
}

ul li a{
    color:black;
  display:block;
  padding:0 80px;
  text-decoration:none;
}

ul li a:hover {
color:green;
}

#Page-content{
color:red;
}
footer a{
   padding-top: 200px;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;
}

/* -------------- */
.column {
    float: left;
    padding:0;
    margin:0px;
    width: 50%;
    border:none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;S
}
.column img{
  width:100%;
}

.column header{
  padding:0;
  margin:0;
}
