<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

<body style="background-color:rgb(255,255,255);"><button class="btn btn-primary" type="button" id="myButton" onclick="topFunction()" title="Go to top">TOP</button>

    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-light" id="navbar" style="font-size:16px;height:67px;background-color:rgb(248,250,248);">
        <div class="container-fluid"><a class="navbar-brand" href="/" style="font-size:40px;"><strong><em>Fridge</em></strong><em>Advisor</em></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="margin:-12px;">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/login" style="font-size:20px;">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-success active" href="/register" style="font-size:20px;">Register</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(assets/img/6.jpg);height:65vh;width:auto;max-height:100%;max-width:100%;"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/7.jpg);height:65vh;width:auto;max-height:100%;max-width:100%;"></div>
                <div class="swiper-slide" style="background-image:url(assets/img/8.jpg);height:65vh;width:auto;max-height:100%;max-width:100%;"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div id="mainScreen">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item"><img class="w-100 d-block" src="assets/img/6.jpg" alt="Slide Image" style="height:80vh;width:auto;max-height:80vh;max-width:100%;"></div>
                <div class="carousel-item"><img class="w-100 d-block" src="assets/img/7.jpg" alt="Slide Image" style="height:80vh;width:auto;max-height:80vh;max-width:100%;"></div>
                <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/8.jpg" alt="Slide Image" style="height:80vh;width:auto;max-height:80vh;max-width:100%;"></div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button"
                    data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
            </ol>
        </div>
        <div class="row" id="scrollDowns">
            <div class="col-md-4">
                <h3 class="text-center" id="AboutUs"><i class="icon ion-ios-arrow-down"></i>&nbsp;About us</h3>
            </div>
            <div class="col-md-4" id="HowToUse">
                <h3 class="text-center"><i class="icon ion-ios-arrow-down"></i>&nbsp;How to use</h3>
            </div>
            <div class="col-md-4" id="Contribution">
                <h3 class="text-center"><i class="icon ion-ios-arrow-down"></i>&nbsp;Contribution</h3>
            </div>
        </div>
    </div>
    <div id="teamBlock" class="team-boxed" style="background-color:rgba(78,88,74,0.24);padding-top:67px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2><p class="text-center">We are a group of students from Robert Gordon University. We came up with the idea for this site after realising that one of the contributing factors to the global food waste issue was people simply not realising that their food had gone
    out of date.<br /><br /></p></div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/29340827_2364965863528877_530370478_n.jpg" alt="Image of Teodor">
                        <h3 class="name">Teodor</h3>
                        <p class="title">Student</p>
                        <p class="description">Second Year Computer Science Student at Robert Gordon University<br><br></p>
                        <div class="social"><a href="/"><i class="fa fa-facebook-official"></i></a><a href="/"><i class="fa fa-twitter"></i></a><a href="/"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/29138307_2364981106860686_883744963_n.jpg" alt="Image of Jozi">
                        <h3 class="name">Jozi</h3>
                        <p class="title">student</p>
                        <p class="description">Second Year Computer Science Student at Robert Gordon University<br><br></p>
                        <div class="social"><a href="/"><i class="fa fa-facebook-official"></i></a><a href="/"><i class="fa fa-twitter"></i></a><a href="/"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/29020055_2364965866862210_1330591828_n.jpg" alt="Image of Nona">
                        <h3 class="name">Nona</h3>
                        <p class="title">student</p>
                        <p class="description">Second Year Computer Science Student at Robert Gordon University<br><br></p>
                        <div class="social"><a href="/"><i class="fa fa-facebook-official"></i></a><a href="/"><i class="fa fa-twitter"></i></a><a href="/"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/asdasdas_n.jpg" alt="Image of Erin">
                        <h3 class="name">Erin</h3>
                        <p class="title">student</p>
                        <p class="description">Second Year Digital Media<br>Student at Robert Gordon University<br><br></p>
                        <div class="social"><a href="/"><i class="fa fa-facebook-official"></i></a><a href="/"><i class="fa fa-twitter"></i></a><a href="/"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="howToUseBlock" class="team-clean" style="padding-top:67px;background-color:#f0f7ee;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">How to use</h2>
                <p class="text-center">Follow these easy steps to set up your profile and start saving the environment.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/29004465_2364989583526505_2696302_n.jpg" alt="Image of a barcode being scanned">
                    <h3 class="name">1. Scan Item</h3>
                    <p class="description">Scan the barcode on your<br>food item and add its expiry date.<br></p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/29473020_2031811133513528_1918224263744061440_n.png" alt="Image of a fridge">
                    <h3 class="name">2. View Fridge</h3>
                    <p class="description">Check your Fridge<br>page to keep track of which food items are going to perish first.<br></p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/reci.jpg" alt="Image of food prepiration">
                    <h3 class="name">3. Find Recipes</h3>
                    <p class="description">Look at the suggested<br>recipes on your profile page to get meal-spiration, to use the items you have.<br></p>
                </div>
            </div>
        </div>
    </div>
    <div id="contributionBlock" class="article-dual-column" style="background-color:rgba(51,169,77,0.3);padding-top:67px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center" style="font-family:'Open Sans', sans-serif;font-weight:bold;">Your Contribution</h1>
                        <p class="text-center"><span class="by" style="font-family:'Open Sans', sans-serif;">by</span> <a href="/" style="font-family:'Open Sans', sans-serif;">Group 21</a><span class="date" style="font-family:'Open Sans', sans-serif;">March, 2018</span></p>
                        <img
                            class="img-fluid" src="assets/img/1.png" alt="Just one quarter of all wasted food could feed the 795 million malnourished people around the world who suffer from hunger"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1" style="font-family:'Open Sans', sans-serif;">
                    <div class="toc">
                        <p>Table of Contents</p>
                        <ul>
                            <li><a href="/">Home</a> </li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a> </li>
                            <li><a href="#footerID">Contacts</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <p style="font-family:'Open Sans', sans-serif;">•&nbsp;&nbsp; Check the temperature of your fridge. It should be between 0-5C. Food items such as milk go off much quicker if the fridge is not cold enough.<br>•&nbsp;&nbsp; Some foods keep better outside of the fridge, such as
                            Bread, Bananas, Pineapples, Potatoes, Tomatoes, Garlic and Onions.<br>•&nbsp;&nbsp; Plan ahead for what meals you are going to make and make a list of the items you need before you go shopping.<br>•&nbsp;&nbsp; If you have
                            fresh fruit and vegetables that you wont use in time put them in your freezer! Although some will lose their texture such as tomatoes, strawberries and apples.<br>•&nbsp;&nbsp; Learn the difference between ‘use by’ and ‘best
                            before’. <br>•&nbsp;&nbsp; ‘Use By’ is found on perishable items that can make us unwell if we were to eat them after this date.<br>•&nbsp;&nbsp; ‘Best Before’ gives and indication of when an item is best to be eaten, but it
                            is perfectly fine to eat food a few days after this date.<br>• &nbsp; &nbsp;Eggs are an exception to this and MUST be eaten before their ‘best before date’<br></p>
                        <figure class="figure"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/HomePage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider1.js"></script>
</body>

</html>
