<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>

</head>

<body class="container">
  <header>

  <% include ../partials/main %>

  </header>

  <main>


      <h2>Quotes!</h2>

      <ul>
       <% quotes.forEach(function(quotable) { %>
       <li>
       <%= quotable.name %> -
       <%= quotable.quote %>
       </li>
       <% }); %>
       </ul>


  </main>


  <footer>


    <% include ../partials/footer %>


  </footer>

</body>

</html>
