.nav.navbar-nav.d-inline.ml-auto {
  font-size:45px;
}

@media (max-width:500px) {
}

@media (max-width: 768px) {
  #mainScreen {
    height:100vh;
  }
}

@media (min-width: 1200px) {
  #mainScreen {
    height:100vh;
  }
}

#scrollDowns {
  padding-top:25px;
  height:10vh;
  margin-left:0;
  margin-right:0px;
}

@media (max-width: 768px) {
  #carousel-1 {
    display:none;
  }
}

#scrollDown {
}

#left-sidebar .logo .nav {
  display:none;
}

