<div class="footer-dark" id="footerID" style="background-color:#2c4b2e;">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#">01124-535-322</a></li>
                        <li><a href="#">fridgeAdvisor@fridge.co.uk</a></li>
                        <li><a href="#">London</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/#teamBlock">Team</a></li>
                        <li><a href="/#howToUseBlock">How to use</a></li>
                        <li><a href="/#contributionBlock">Contribution</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Fridge Advisor</h3>
                    <p>Your own personal fridge helps you save money, food and contribute towards helping the environment. For any questions or suggestions please don't hesitate to contact us!</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Fridge Advisor © 2018</p>
        </div>
    </footer>
</div>
